.hero{
	background-image:url('https://optiabtests.s3.eu-west-2.amazonaws.com/Lampo/header-Desktop.png')  ;
}

#Lampo_Vairant_Desktop{
	display: block;
}
.hero__txt p{
	font-family: Yantramanav;
	font-size: 24px;
	font-weight: 400;
	line-height: 40px;
	text-align: left;
}

.Variant_ul li{
	list-style:square;
	margin-left: 25px;
}

.span_bold{
	font-weight: 700;
}

#Lampo_Vairant_Mobile{
	display:none;
}

@media (max-width: 768px) {
	
	#Lampo_Vairant_Mobile{
		display:block;
	}
	#Lampo_Vairant_Desktop{
		display: none;
	}
	
	#Lampo_Vairant_Mobile h1{
		font-family: Yantramanav;
		font-size: 30px;
		font-weight: 700;
		line-height: 36px;
		text-align: left;
	}
	#Lampo_Vairant_Mobile ul, #Lampo_Vairant_Mobile p{
		padding-top: 25px;
		font-family: Yantramanav;
		font-size: 18px;
		font-weight: 400;
		line-height: 25.2px;
		text-align: left;
	}

	.Variant_ul_Mobile li{
		list-style:square;
		margin-left: 10px;
		padding: 4px 0px;
		text-align: left;
	}
	
	.hero{
		background-image:url('https://optiabtests.s3.eu-west-2.amazonaws.com/Lampo/hero-mob-lampo-poolMobile.png') ;
		padding-top: 267.44px ;
	}
	
}

